environment:
  window_size: [480, 480]
  traffic_density: 0.1
  stack_size: 4
  accident_prob: 0.8
  map: "CCCCCCCCCCCCCC"
  # map: "$$$$"
  num_scenarios: 200
simulation:
  simulations_count: 1
  show_view: True 
seed: 1
algorithm:
  learning_rate: 4e-4
  learning_rate_decay: false
  batch_size: 512 # x num_envs
  minibatch_size: 512
  n_epochs: 5
  gamma: 0.99
  gae_lambda: 0.95
training:
  steps: 1e5
mlflow:  
  tracking_uri: http://192.168.8.121:5000
  # experiment_name: MetaDrive ViT testing
  experiment_name: Default
